:root {
  --main-color-title: #212121;
  --main-color-text: #757575;
  --accent-color: #2196F3;
  --additional-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --main-background-color: #fff;
  --header-bg: #ECECEC;
  --additional-bg: #2F303A;
  --btn-color: #F5F4FA;
  --bg-portfolio: #EEEEEE;
  --icon: #AFB1B8;
  --white-ten-persent: rgba(255, 255, 255, 0.1);
  --black-ten-persent: rgba(0, 0, 0, 0.1);
  --backdrop: rgba(0, 0, 0, 0.2);
  --rgba-accent-bg: rgba(33, 150, 243, 0.9);
  --activity-modal: rgba(47, 48, 58, 0.8);
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --register-form-border: 1px solid rgba(33, 33, 33, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-color-text);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: var(--main-color-title);
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-title);
}

.position {
  position: relative;
  color: #2196F3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset 100%;
          clip-path: inset 100%;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-title);
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-title);
  background-color: var(--btn-color);
  font-family: inherit;
  -webkit-transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.btn:hover {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:active {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn.primary {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  font-weight: 700;
  letter-spacing: 0.06em;
}

.hero__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.send__btn {
  margin: 0 auto;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
}

.close-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--black-ten-persent);
  background-color: var(--main-background-color);
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}

.close-btn__menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: var(--main-background-color);
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}

.close-btn:hover {
  fill: var(--accent-color);
}

.close-btn__menu:hover {
  fill: var(--accent-color);
}

.btn--all {
  padding-left: 25px;
  padding-right: 25px;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-bg);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item,
.auth-nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item {
    font-size: 12px;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.auth-nav {
  margin-left: auto;
}

.auth-nav__item + .auth-nav__item {
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
    margin-top: 0;
  }
}

.site-nav__link,
.auth-nav__link {
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav__link {
  color: var(--main-color-text);
}

.auth-nav__link:hover {
  color: var(--accent-color);
}
.auth-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.position::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .site-nav__link.position::after {
    display: none;
  }
}

.auth-nav__icon {
  fill: currentColor;
  stroke: currentColor;
}
@media screen and (max-width: 767px) {
  .auth-nav__icon {
    display: none;
  }
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
    margin-right: 93px;
  }
}

.auth-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 10px 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}
@media screen and (min-width: 768px) {
  .mobile-container {
    display: none;
  }
}
.mobile-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-mobile {
  display: block;
}
.nav-mobile__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 34px 0;
}
.nav-mobile__link:hover, .nav-mobile__link:focus {
  color: var(--accent-color);
}

.auth-nav__mobile {
  margin-top: auto;
}
.auth-nav__mobile--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.auth-nav__mobile--tel:hover, .auth-nav__mobile--tel:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 479px) {
  .auth-nav__mobile--tel {
    font-size: 30px;
  }
}
.auth-nav__mobile--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.auth-nav__mobile--mail:hover, .auth-nav__mobile--mail:focus {
  color: var(--accent-color);
}

.social-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}
.social-mobile__link {
  padding: 0 10px 0 10px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 479px) {
  .social-mobile__link {
    font-size: 11px;
  }
}

.hero {
  background-color: var(--additional-bg);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_s-@1x.webp);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_s-@1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_s-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_s-@2x.webp);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_m-@1x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_m-@1x.webp);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_m-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_m-@2x.webp);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_l-@1x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_l-@1x.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_l-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_l-@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-color-title);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.footer .logo {
  color: var(--main-background-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.logo--white {
  color: var(--main-background-color);
  margin-bottom: 20px;
}

.logo__accent {
  color: var(--accent-color);
}

.hero {
  background-color: var(--additional-bg);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_s-@1x.webp);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_s-@1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_s-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_s-@2x.webp);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_m-@1x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_m-@1x.webp);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_m-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_m-@2x.webp);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_l-@1x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_l-@1x.webp);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/img-bg/img_l-@2x.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/img-bg/img_l-@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features.section {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features.section {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 450px;
  height: 120px;
  background-color: var(--btn-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .features__icon {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    max-width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:nth-last-child(-n+1)) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .features__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item + .features__item {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item:nth-child(2n) {
    margin-left: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-title);
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}

.activity__section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .activity__section {
    display: block;
    padding-top: 0;
  }
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__item + .activity__item {
  margin-left: 30px;
}

.activity__modal {
  position: relative;
}

.activity__title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-background-color);
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--activity-modal);
}

.team__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color-title);
  text-transform: none;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:nth-child(-n+3) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item:nth-child(2n) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:nth-child(n) {
    width: 270px;
    margin-bottom: 0;
  }
}

.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}

.team__text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.team {
  background-color: #F5F4FA;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-title);
}

@media screen and (min-width: 1200px) {
  .team__item + .team__item {
    margin-left: 30px;
  }
}

.team__person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client__icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__icon {
    width: 170px;
  }
}

.client__link {
  display: block;
  border: 1px solid var(--icon);
  border-radius: 4px;
  color: var(--icon);
  width: 210px;
  height: 92px;
  -webkit-transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: var(--additional-bg);
  padding-bottom: 60px;
  padding-top: 60px;
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address__list {
  list-style: none;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}

.address__link:hover {
  color: var(--accent-color);
}
.address__link:focus {
  color: var(--accent-color);
}

.foot-add {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .foot-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .foot-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.address-thumb {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address-thumb {
    margin-right: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-thumb {
    margin-right: 70px;
    width: 231px;
  }
}

.sociallink {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .sociallink {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.sociallink__title {
  color: var(--main-background-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .sociallink__title {
    text-align: left;
  }
}

.send__icon {
  fill: #fff;
}

.send__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.send-form__title {
  color: var(--main-background-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .send-form__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .send-form__title {
    text-align: left;
  }
}

.send__input {
  background-color: transparent;
  height: 50px;
  width: 100%;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--main-background-color);
  -webkit-transition: border var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function);
}
@media screen and (min-width: 768px) {
  .send__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .send__input {
    width: 358px;
  }
}
.send__input:focus {
  border: 1px solid var(--accent-color);
}

.send-form {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .send-form {
    display: block;
    margin-right: 0;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .send-form {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .send-form__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon);
  border-radius: 50%;
  background-color: var(--main-background-color);
  -webkit-transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}

.social-network__icon {
  fill: currentColor;
}

.social-network__link:hover {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}
.social-network__link:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}

.social-network__icon--white {
  color: var(--main-background-color);
}

.social-network__link--darkbg {
  background-color: var(--white-ten-persent);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  -webkit-transition: opacity var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 290px;
  padding: 40px;
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), transform var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), transform var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.register-form__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  color: var(--main-color-title);
}

.register-form__group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.register-form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form__lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.register-form__input {
  width: 100%;
  height: 45px;
  padding-left: 42px;
  padding-right: 42px;
  border: var(--register-form-border);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function);
}

.register-form__input:hover {
  border: 1px solid var(--accent-color);
}
.register-form__input:focus {
  border: 1px solid var(--accent-color);
}

.register-form__message {
  display: block;
  width: 100%;
  height: 130px;
  padding: 18px;
  font-size: 14px;
  resize: none;
  outline: transparent;
  border: var(--register-form-border);
  border-radius: 10px;
  -webkit-transition: border var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function);
}

.register-form__message:hover {
  border: 1px solid var(--accent-color);
}
.register-form__message:focus {
  border: 1px solid var(--accent-color);
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.register-form__heading {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.register-form__icon {
  position: absolute;
  display: block;
  bottom: 12px;
  left: 12px;
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}

.register-form__input:hover ~ .register-form__icon {
  fill: var(--accent-color);
}
.register-form__input:focus ~ .register-form__icon {
  fill: var(--accent-color);
}

.register-form__icon-check {
  opacity: 0;
  -webkit-transition: opacity var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function);
}

.register-form__icon-uncheck {
  opacity: 1;
  -webkit-transition: opacity var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function);
}

.register-form__checkbox:checked + .register-form__icons .register-form__icon-check {
  opacity: 1;
}

.register-form__checkbox:checked + .register-form__icons .register-form__icon-uncheck {
  opacity: 0;
}

.register-form__link {
  color: var(--accent-color);
}

.register-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 350px;
  gap: 8px;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
}

.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-title);
}

.card__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}

.card__list {
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .card__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .card:last-child {
    margin-right: auto;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card:nth-child(2n) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .card:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
.card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.card__name {
  padding: 20px 24px;
  border: 1px solid var(--bg-portfolio);
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card__name.special {
    padding: 20px 24px 54px 24px;
    border: 1px solid var(--bg-portfolio);
    border-top: none;
  }
}
.card__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__thumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--rgba-accent-bg);
  opacity: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: opacity var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), opacity var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), opacity var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}

.card__link:hover .card__thumb::before,
.card__link:focus .card__thumb::before {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.card__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--main-background-color);
  padding: 63px, 24px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: opacity var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), opacity var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), opacity var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}

.card__link:hover .card__text {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card__link:focus {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}/*# sourceMappingURL=main.css.map */