
.btn {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-title);
    background-color: var(--btn-color);
    font-family: inherit;
    transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}

.btn {
    &:hover {
        color: var(--main-background-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:focus {
        color: var(--main-background-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:active {
        color: var(--main-background-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.btn.primary {
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    background-color: var(--accent-color);
    color: var(--main-background-color);
    font-weight: 700;
    letter-spacing: 0.06em;
}

.close-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--black-ten-persent);
    background-color: var(--main-background-color);
    transition: fill var(--duration) var(--timing-function);
}

.close-btn {
    &:hover {
        fill: var(--accent-color);
    }
}