.client__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.client__icon {
    fill: currentColor;
    width: 170px;
    height: 92px;
}
.client__link {
    display: block;
    border: 1px solid var(--icon);
    border-radius: 4px;
    color: var(--icon);
    width: 170px;
    height: 92px;

    transition: color var(--duration) var(--timing-function), border-color var(--duration) var(--timing-function);
}
.client__link {
    &:hover {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}