.logo {
    display: block;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-color-title);

    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }

}
.footer .logo {
    color: var(--main-background-color);
    margin-bottom: 20px;
    margin-top: 0;
}
.logo--white {
    color: var(--main-background-color);
    margin-bottom: 20px;
}
.logo__accent {
    color: var(--accent-color);
}
