.logo {
    display: block;
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-color-title);
}
.footer .logo {
    color: var(--main-background-color);
    margin-bottom: 20px;
}
.logo--white {
    color: var(--main-background-color);
    margin-bottom: 20px;
}
.logo__accent {
    color: var(--accent-color);
}
