:root {
    --main-color-title: #212121;
    --main-color-text: #757575;
    --accent-color: #2196F3;
    --additional-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --main-background-color: #fff;
    --header-bg: #ECECEC;
    --additional-bg: #2F303A;
    --btn-color: #F5F4FA;
    --bg-portfolio: #EEEEEE;
    --icon: #AFB1B8;
    --white-ten-persent: rgba(255, 255, 255, 0.1);
    --black-ten-persent: rgba(0, 0, 0, 0.1);
    --backdrop: rgba(0, 0, 0, 0.2);
    --rgba-accent-bg: rgba(33, 150, 243, 0.9);
    --activity-modal: rgba(47, 48, 58, 0.8);
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --register-form-border: 1px solid rgba(33, 33, 33, 0.2);
}